* {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

h1{
  color: white;
  text-align: center;
}

h2{
  color: white;
  text-align: center;
}

.bgimage {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}



.center a button {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 px;
  color: white;
  font-size: 20px;
  width: 200px;
  height: 50px;
  transition: transform 0.3s ease-in-out; 
}

.center a button:hover{
  transform: scale(1.5);
}

.center {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 80%;
}

.button-container {
  display: inline-block;
  margin: 10px;
}

.center a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
}

#act1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

#act1-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

#act2-1 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
