@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #2e4a62;
}

body{
    background-color: #e9e5df;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo{
    font-size: 25px;
    color: #2e4a62;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 18px;
    color: #3eb489;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-radius: 10px;
    padding: 10px 10px;
    transition: .3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: #2e4a62;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.2);
    transform: scale(1.2);
}

.profile{
    position: absolute;
    border-radius: 100%;;
    width: 400px;
    height: 400px; 
    object-fit: cover;
    top: 15%;
    left: 40%;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.desccenter {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    font-weight: 600;
    max-width: 1000px;
    text-align: justify;
}

.aboutme{
    position: absolute;
    font-weight: 800;
    font-size: 30px;
    top: 55%;
    left: 25%;
}

.socials{
    position: absolute;
    top: 80%;
    left: 25%;
    
}
.socials a{
    text-decoration: none;
    background-color: #3eb489;
    margin-right: 15px;
    padding: 10px 10px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    transition: .3s ease;
    font-weight: 800;
    color: #e9e5df ;
}

.socials a:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 15px #3eb489;
}