@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #2e4a62;
}

body{
    background-color: #e9e5df;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #2e4a62;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 18px;
    color: #3eb489;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-radius: 10px;
    padding: 10px 10px;
    transition: .3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: #2e4a62;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.2);
    transform: scale(1.2);
}

.home{
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}


.background-image {
    position: fixed;
    bottom: 0;
    right: -100px;
    width: 65%;
    height: auto;
    z-index: -1;
    transition: opacity .3s ease;
}

.background-image:hover{
    opacity: 0.5;
}


.home-content h1{
    max-width: 700px;
    font-size: 59px;
    font-weight: 800;
}

.home-content h2{
    max-width: 600px;
    font-size: 40px;
    font-weight: 800;
}

.home-content h3{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.home-content p{
    max-width: 800px;
    font-size: 20px;
}

.myName{
    color: #3eb489;
    font-weight: 900;
    font-size: 40px;
}

.home-content .btn-box{
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
    background: #3eb489;
    border: 2px solid #3eb489;
    border-radius: 15px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1;
    color: #e9e5df;
    transition: transform 0.3s ease;
    transition: .3s ease;
}

.btn-box a:hover{
    transform: scale(1.1);
    box-shadow: -2px 2px 5px #3eb489;
}